* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    width: 350px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #00376b;
    cursor: pointer;
    padding: 10px;
    width: 100%;
}

.tab:hover {
    background-color: #f2f2f2;
}

.form {
    display: none;
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #0095f6;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0078d4;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: #00376b;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.info-text {
    font-size: 12px;
    margin-top: 20px;
}

.info-text a {
    color: #00376b;
    text-decoration: none;
}

.info-text a:hover {
    text-decoration: underline;
}
.back-to-login {
    margin-top: 10px;
}

.back-to-login a {
    color: #00376b;
    text-decoration: none;
}

.back-to-login a:hover {
    text-decoration: underline;
}
